body, html{
    margin: 0px;
    background-image: linear-gradient(45deg, #15dbff, #6aff90);
    color: #001744;
    overflow-x: hidden;
}

body{
    padding-top: 10px;
    padding-bottom: 10px;
}

h1{
    font-size: 6vmin;
}
h2{
    font-size: 5.5vmin;
}

p{
    font-size: 3vmin;
}

canvas{
    width: 500px;
    margin-left: 40px;
}

#heading{
    width: 650px;
    height: 131px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    border-radius: 25px;
}
#headerimg{
    width: 131px;
    position: relative;
    transform: translateX(200%);
    -webkit-transform: translateX(200%);
}

#intro{
    width: 600px;
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    position: relative;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 50px;
}

.step{
    width: 600px;
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    position: relative;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 50px;
}

#contact{
    width: 650px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
}
#contactimg{
    width: 131px;
}
table{
    width: 600px;
}
th{
    width: 50%;
    font-family: 'Montserrat', sans-serif;
}

#cimagewrapper{
    text-align: right;
}

#cinfowrapper{
    text-align: left;
}

#btn, #btn:link{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    background: #5284ff;
}
a:link, a:visited{
    text-decoration: none;
    background: linear-gradient(to right, #15dbff, #6aff90);
    background-repeat: repeat-x;
    background-size: 100% 2px;
    background-position: 0 95%;
    color: #001744;
}

@media only screen and (max-width: 600px) {
    
    #heading{
        width: 350px;
    }
    #headerimg{
        transform: translateX(120px);
        -webkit-transform: translateX(120px);
    }
    
    #intro{
        width: 300px;
    }
    canvas{
        width: 300px;
        margin-left: 0px;
    }
    .step{
        width: 300px;
    }
    #contact{
        width: 350px;
    }
    table{
        width: 300px;
    } 
    
    #btn, #btn:link{
        padding-left: 25px;
        padding-right: 25px;
    }
  }
